.form-control{
    outline: none;
    border: none;
    background-color: #fff;
    color: #1e1e1e;
    padding: 15px 20px;
    width: -webkit-fill-available;
    border-radius: 7px;
    font-size: 15px;
}
.area-control{
    padding: 15px 20px;
    outline: none;
    border: none;
    border-radius: 7px;
    width: -webkit-fill-available;
    max-width: -webkit-fill-available;
    min-width: -webkit-fill-available;
    
}