.tooltip{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 15px;
    background-color: #39df5220;
    color: #1ace35;
    border-radius: 50px;
    width: fit-content;
}
.circle-tool{
    width:10px;
    height: 10px;
    border-radius: 50px;
    background-color: #7ade5e;
}