*{
  padding: 0;
  margin: 0;
  font-family:'Overpass';
  user-select: none !important;
}
body{
  background-color: #1e1e1e;
  color: #fff;
}
.container{
  padding: 20px 350px;
}
.link{
  color: #ffffff61;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
  transition: .3s;
}
.active{
  background-color: #c6c6c62c;
  color: #ffffff;

}

.group-btn{
  display: none;
}
.content{
  background-color: #2d2d2d;
  border-radius: 12px;
  margin-top: 20px;
}
.main-page{
  padding: 30px 20px;
}
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.typographie{
  display: flex;
  flex-direction: column;
  h1{
    font-size: 70px;
  }
}
.page-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.img-dashboard{
  width: 100%;
height: auto;
}
.img-about{
  width: 55%;
  height: auto;
  border-radius: 12px;
  border:5px solid #4c4c4c;
}
.content-column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.description{
  font-size: 20px;
  line-height: 40px;
}
.paragraphe{
  font-size: 20px;
  line-height: 40px;
}
@media only screen and (max-width:1280px) {
  .container{
    padding: 20px 250px;
  }
}



@media only screen and (max-width:900px) {
  .container{
    padding: 20px;
  }
}




@media only screen and (max-width:430px) {
  .img-dashboard{
    display: none;
  }
  .page-container{
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
  .typographie{
    h1{
      font-size: 14vw;
    }
  }
  .description{
    font-size: 20px;
    line-height: 30px;
  }
  .group-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .paragraphe{
    font-size: 15px;
    line-height: 30px;
  }
  .img-about{
    width: 100%;
    height: auto;
    border-radius: 12px;
  }
}